{% extends "base.html" %}
{% load snippets_tags %}
{% load pygmentify_tags %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8">
    <br>
    <div class="card">
      <h5 class="card-header">{{ snippet.name|title }}<a href="{% url 'user_snippets' snippet.user.id %}"
          class="float-right"><small>{{ snippet.user }}</small></a></h5>
      <div class="card-body">
        <a href="{% url 'language' snippet.language %}">
          <h5 class="card-title">{{ snippet.language|title }}</h5>
        </a>
        {% with days=snippet.created|days_since %}
        <h6 class="card-subtitle mb-2 text-muted">Creado: {{ days }} dia{{ days|pluralize }} </h6>
        {% endwith %}
        <p class="card-text">{{ snippet.description|title }}</p>
        <div class="bg-dark p-3 rounded-lg">

          <!-- Código del Snippet -->
          {% pygmentify 'monokai' %}
          <pre class="{{ snippet.language }}">
            {{ snippet.snippet }}
          </pre>
          {% endpygmentify %}
          <!-- Código del Snippet -->
        </div>
        <hr>
        <br>
        {% if user == snippet.user %}
        <a href="{{ snippet.get_update_url }}" class="btn btn-info">Editar</a>
        <a href="{{ snippet.get_delete_url }}" class="btn btn-danger">Eliminar</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}