[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
pygments = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"
dj-database-url = "*"
whitenoise = "*"
factory-boy = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-pygmentify = "*"
celery = "*"

[requires]
python_version = "3.8"
