{% extends "base.html" %}
{% load snippets_tags %}

{% block content %}
<div class="row justify-content-md-center" style="padding-top:20px;">
    <div class="col-md-8">
        <h1>Snippets</h1>
        <br>

        {% for snippet in snippet_list %}
        <!-- SNIPPET -->
        <div class="card">
            <h5 class="card-header">{{ snippet.name|title }}
                <a href="{% url 'user_snippets' snippet.user.id %}" class="float-right">
                    <small>{{ snippet.user }}</small>
                </a>
            </h5>
            <div class="card-body">
                <a href="{% url 'language' %}">
                    <h5 class="card-title">{{ snippet.language|title }}</h5>
                </a>
                {% with days=snippet.created|days_since %}
                <h6 class="card-subtitle mb-2 text-muted">Creado: {{ days }} dia{{ days|pluralize }} </h6>
                {% endwith %}
                <p class="card-text">{{ snippet.description }}</p>
                <hr>
                <a href="{{ snippet.get_absolute_url }}" class="btn btn-primary">Ver</a>
                <a href="{{ snippet.get_update_url }}" class="btn btn-info">Editar</a>
                <a href="{{ snippet.get_delete_url }}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        <br>
        <!-- FIN SNIPPET -->
        {% endfor %}

    </div>
</div>
{% endblock %}